.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-div {
    height: 100vh;
    width : 85%;
    background-color: lightcoral;
}
.right-div {
    height: 100vh;
    width : 15%;
    background-color: lightcyan;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 0px 0px;
    gap: 0px 0px;
   
}
.cell {
    height: 50px;
    width:  50px;
    background-image: url(./images/grass.png);
    background-repeat: no-repeat;
    background-size: cover;
}