@font-face{
    src: url('../fonts/Minecrafter.Reg.ttf');
    font-family: minecraft;
}

body {
    font-family: minecraft;
}

.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-div {
    height: 100vh;
    width : 85%;
    background-color: rgb(119, 206, 246);
}

.main-grid{
    height: 100vh;

    display: grid;
    grid-template: repeat( 20,1fr) / repeat(15,1fr);
    /* grid-gap: 0px 0px;
    gap: 0px 0px;
     */
   
}


.right-div {
    height: 100vh;
    width : 15%;
    background-color: rgb(30, 35, 35);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.axe, .pickaxe, .shovel {
    height: 8%;
    width: 60%;
    margin: 4%;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}
.axe {
    margin-top: 20%;
}
 .axe img {
height: 90%; 
margin-left: 40%;   
}
 .pickaxe  img {
    height: 90%; 
    margin-left: 40%;    
}
 .shovel img {
    height: 90%; 
    margin-left: 40%;    
}

.inventory {
    /* width: 70%; */
    margin-top: 5%;
    margin-bottom: 20%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    /* justify-content: space-between; */


}

.ground-counter, .grass-counter, .stone-counter, .wood-counter, .tree-counter, .leaf-counter {
    height: 45px;
    width: 45px;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 5px;
    
}

.ground-counter {
    background-image: url(./images/ground.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.grass-counter {
    background-image: url(./images/grass.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.stone-counter {
    background-image: url(./images/stone.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.wood-counter {
    background-image: url(./images/wood.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.tree-counter {
    background-image: url(./images/tree.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.leaf-counter {
    background-image: url(./images/leaf.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.btn {
    width: 85%;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 0;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;

}



.cell {
    height: 100%;
    width:  100%;

}

.sky{
    background-color: rgb(119, 206, 246);
}

.ground{
   background-image: url('./images/soil.jpg');
   cursor: pointer;
}

.cloud{
    background-image: url('./images/cloud.png');
    cursor: pointer;
}

.grass{
    background-image: url('./images/grass.png');
    cursor: pointer;
}

.stone{
    background-image: url('./images/rock.png');
    cursor: pointer;
}

.wood{
    background-image: url(./images/wood.png);
    cursor: pointer;
}

.tree{
    background-image: url('./images/tree.png');
    cursor: pointer;
}

.leaf{
    background-image: url('./images/leaf.png');
    cursor: pointer;
}